<div
	class="absolute w-full flex bottom-0 p-4 justify-center align-middle border text-sm text-gray-500 gap-4"
>
	<span>Copyright @ 2025. All rights reserved</span>|
	<span><a class="hover:underline" href="/about">About Us</a></span
	>|
	<span><a class="hover:underline" href="/api/docs">API Documentation</a></span>
</div>
