<nav class="grid grid-cols-24 py-4 mb-4 sticky top-0 z-50 shadow bg-white">
	<div class="col-span-1 md:col-span-2"></div>
	<div class="col-span-22 md:col-span-20 flex justify-between items-center">
		<a href="/"
			><span class="text-xl md:text-xl font-bold text-white bg-black p-2"
				>Dumpd!</span
			></a
		>
		<button class="md:hidden text-3xl" id="menu-toggle">☰</button>
	</div>
	<div class="col-span-1"></div>
</nav>
<script
	data-name="BMC-Widget"
	data-cfasync="false"
	src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
	data-id="vjnvisakh"
	data-description="Support me on Buy me a coffee!"
	data-message="Hey 👋, If you liked the work so far, I would love to afford another coffee for the hard work."
	data-color="#eee"
	data-position="Right"
	data-x_margin="18"
	data-y_margin="18"
></script>
