<nav class="flex justify-between p-4 mb-4 sticky top-0 z-50 shadow bg-white">
	<div class="flex align-middle">
		<div class="flex justify-center gap-4">
			<span class="text-xl md:text-3xl font-bold"><a href="/">Dumpd!</a></span>
			<input type="search" class="border w-100 p-1" placeholder="Search ..." />
		</div>
	</div>
</nav>
