<div class="flex flex-col card">
	<h2>🔒 Premium Content</h2>
	<span>
		You've reached a locked section This premium content includes advanced tips,
		real-world examples, and insider strategies we reserve for members. Sign up
		for free to get instant access and continue learning.
	</span>
	<div class="mt-4">
		<a href="/login"><button class="login">Login to Unlock</button></a>
	</div>
</div>
